<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <h1>this is about page</h1>
    <hr>
    <!-- using fragment -->
    <div class="host-tag" th:replace="${islogin} ? ~{base :: parent(~{::section})} : ~{base :: test(~{::#not_logged_in})} ">
    <section>
        <h1>User is login</h1>
        <h2>Dynamic content</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, eligendi? Ipsum dolore suscipit quaerat
            expedita id, maxime odit pariatur voluptates?</p>
            <button>this is dynamic content</button>

    </section>
    <section id="not_logged_in">
        <h1>User is not logged in</h1>
    </section>
    </div>
</body>

</html>